$paradise-pink: #f32b60;
$dark-orange: #ff8f1f;
$platinum: #e9e3e6;
$prussian-blue: #002642;
$rich-black: #02040f;
$spanish-red: #df0024;
$saffron: #f3c300;
$light-sea-green: #00ac9f;
$true-blue: #2e6db4;

// shadow

$light-gray: #c9c9c990;
$paradise-pink-shadow: #f32b60b0;
$dark-orange-shadow: #ff8f1fb0;

// brand colors

$linkedin-blue: #0A66C2;