.chat-container {
  height: calc(100vh - 60px);
}

.chat-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #aaaaaa;
  /* position: sticky; */
}

.chat-msg-container {
  display: block;
  height: 500px;
  position: relative;
  /* overflow: scroll; */
}

.chat-input-container {
  height: 120px;
  /* position: fixed; */
}

.chat-title {
  font-weight: 700;
  font-size: 24px;
}

.chat-submit-btn {
  display: block;
  width: 100px;
  height: 25px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  background-color: #02040f;
  color: white;
  transition: 0.2s;
  text-align: center;
  margin-left: 10px;
}

.chat-submit-btn:hover {
  background-color: #ff8f1f;
  color: white;
  box-shadow: 0px 0px 10px 3px #ff8f1fb0;
  transition: 0.2s;
}

.chat-msg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px);
  width: 500px;
  overflow: auto;
}

.chat-messages {
  width: 50%;
}

/* .chat-bar {
  width: 50%
} */

.chat-input {
  width: 100%
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #008aff, #00ffe7);
  /* call we use the pink and orange instead */
  border-radius: 6px;
  border: 3px solid black;
}
.self {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;
  /* background-color: skyblue; */
  /* border-radius: 15px; */
  padding-left: 5px;
}

.self .msg {
  border-right: 5px solid;
}

.other {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
  /* background-color: lightpink; */
  /* border-radius: 15px; */
  padding-right: 5px;
}

.other .msg {
  border-left: 5px solid;
}

