/* .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  background-color: black;
} */

.navbar button {
  height: 20px;
}

.Links1 {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.Links2 {
  width: 400px;
  display: flex;
  justify-content: space-between;
}