.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: black;
}

.NavBar h1 {
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
  color: white;
  text-align: center;
  position: absolute;
  left: calc(50% - 70px);
  letter-spacing: 0.5px;
}

.NavBarRGB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  -webkit-animation: color_change 2s infinite alternate;
	-moz-animation: color_change 2s infinite alternate;
	-ms-animation: color_change 2s infinite alternate;
	-o-animation: color_change 2s infinite alternate;
	animation: color_change 2s infinite alternate;
}

@-webkit-keyframes color_change {
  0% { background-color: #df0024 }
  30% { background-color: #f3c300 }
  60% { background-color: #00ac9f }
  100% { background-color: #2e6db4}
}
@-moz-keyframes color_change {
  0% { background-color: #df0024 }
  30% { background-color: #f3c300 }
  60% { background-color: #00ac9f }
  100% { background-color: #2e6db4}
}
@-ms-keyframes color_change {
  0% { background-color: #df0024 }
  30% { background-color: #f3c300 }
  60% { background-color: #00ac9f }
  100% { background-color: #2e6db4}
}
@-o-keyframes color_change {
  0% { background-color: #df0024 }
  30% { background-color: #f3c300 }
  60% { background-color: #00ac9f }
  100% { background-color: #2e6db4}
}
@keyframes color_change {
  0% { background-color: #df0024 }
  30% { background-color: #f3c300 }
  60% { background-color: #00ac9f }
  100% { background-color: #2e6db4}
}

.NavBarRGB h1 {
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
  color: black;
  text-align: center;
  position: absolute;
  left: calc(50% - 70px);
  letter-spacing: 0.5px;
  
}

.nav-letter{
  animation: jump 0.5s infinite;
  display:inline-block;
}
.nav-letter2{
  animation: hop 0.5s infinite;
  display:inline-block;
}
.nav-letter3{
  animation: shake 0.5s infinite;
  display:inline-block;
}
.nav-letter4{
  animation: explode 0.5s infinite;
  display:inline-block;
}

@keyframes jump {
  0% { transform: translate(0px, 2px) rotate(0deg); }
  50% { transform: translate(0px, -2px) rotate(0deg); }
  100% { transform: translate(0px, 2px) rotate(0deg); }
}
@keyframes hop {
  0% { transform: translate(1px, 0px) rotate(10deg); }
  50% { transform: translate(-1px, 0px) rotate(-10deg); }
  100% { transform: translate(-1px, 0px) rotate(10deg); }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(10deg); }
  50% { transform: translate(-1px, -1px) rotate(-10deg); }
  100% { transform: translate(-1px, -1px) rotate(10deg); }
}
@keyframes explode {
  10% {transform: scale(0.5,0.5);}
  0% { transform: translate(1px, 1px) rotate(0deg); }
  50% { transform: translate(-1px, -1px) rotate(0deg); }
  100% { transform: translate(-1px, -1px) rotate(0deg); }
}

.NavBarRight a, .NavBarRight button {
  display: flex;
  justify-content: center;
  float: right;
  width: 90px;
  height: 30px;
  /* background-color: black; */
  border-radius: 30px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s;
}

.NavBarRight a {
  padding-top: 2px;
}

.NavBarRight button {
  padding-top: 5px;
}

.signup {
  color: #f32b60;
  background-color: white;
}

.signup:hover {
  background-color: #f32b60;
  color: white;
  box-shadow: 0px 0px 10px 3px #f32b60b0;
  transition: 0.2s;
}

.login {
  color: #ff8f1f;
  background-color: white;
}

.login:hover {
  background-color: #ff8f1f;
  color: white;
  box-shadow: 0px 0px 10px 3px #ff8f1fb0;
  transition: 0.2s;
}

.logout {
  color: white; 
  background-color: black;
}

.logout:hover {
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px 3px #ebebebb0;
  transition: 0.2s;
}

.github-link {
  font-size: 30px;
  margin-left: 15px;
}

.logged-out {
  color: white;
}

.developers-link {
  font-size: 30px;
  margin-left: 15px;  
}

/* MOBILE COMPATABILITY */

@media only screen and (max-width: 600px) {
  .NavBar h1 {
    left: 10px;
  }

  .gradient-bg .session-form-container {
    width: 90%;
  }

  .gradient-bg h1, .gradient-bg p {
    padding: 0px 10px;
  }

  .signup-from {
    height: 90%
  }


  /* .NavBarRight .logout {
    display: none;
  } */
  /* Eventually make a sandwich button or something that pops out to log out and see chat and profile */

}