/* no need since it share all classes with upcoming parties */

/* .party-card {
  display: flex;
}

.map-container {
  width: 500px;
  height: 500px;
}

.party-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  width: 50%;
}

.all-parties:last-child{
  margin-bottom: 50px;
}

.party-card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.party-title {
  font-size: 16px;
} */