.party-form-container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px #c9c9c990;
  /* border: 1px solid rgb(126, 126, 126); */
}

.party-form-container .map-container{
  width: 500px;
  height: 400px;
  border: none;
  margin-right: 15px;
  box-shadow: 0px 0px 10px 1px #c9c9c990;
}

.party-form {
  height: 400px;
  width: 400px;
  margin-left: 50px;
}

.party-form-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
}

.input-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 55px;
  /* width: 90%; */
  margin: 12px 0;
  border: 3px solid transparent;
  border-radius: 4px; 
  box-shadow: 0px 0px 1px rgb(190, 190, 190);
  padding-left: 10px;
}

.input-wrapper:focus-within {
  box-shadow: 0px 0px 5px 1px rgba(255, 149, 62, 0.445);
}

.input-wrapper label {
  margin: 5px 10px 2px 0;
  font-size: 12px;
  font-weight: 500;
  color: rgb(77, 77, 77);
}

.input-wrapper input {
  height: 2em;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
}

.party-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}

.submit-btn {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 180px;
  margin-top: 30px;
  height: 35px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s;
}

.submit-btn:hover {
  background-color: #ff8f1f;
  color: white;
  box-shadow: 0px 0px 10px 3px #ff8f1fb0;
  transition: 0.2s;
}

.location {
  margin-top: 20px;
}

.location .input-wrapper {
  display: none;
}

.description .input-wrapper {
  height: 100px;
}