.party-index-container {
  height: calc(100vh - 60px);
  width: 100%;
  padding-top: 40px;
  overflow: hidden;
}

.party-index {
  width: 400px;
  height: 500px;
  margin: 0 auto;
}

.party-index-item {
  width: 400px;
  height: 550px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px #c9c9c990;
  border-radius: 15px;
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  border-top: 30px solid;
}

.party-index-item:hover {
  cursor: grab; 
  /* this is so it shows a hand on the party cards can change if anyone doesn't like it */
}

.party-index-map-container {
  display: block;
  width: 350px;
  height: 250px;
  margin: 15px auto;
}

.party-date, .part-time {
  display: flex;
  flex-direction: row;
}

.party-index-item .party-title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
}

.party-index-item .party-description {
  margin-top: 5px;
  font-size: 20px;
  word-wrap: break-word;
}

.party-index-item .party-date, 
.party-index-item .party-time {
  display: flex;
  flex-direction: row;
  width: 70%;
  font-size: 18px;
}

.party-index-item .number-guest {
  margin-top: 10px;
  font-size: 18px;
}

.party-index-item .strong {
  font-weight: 700;
  margin-right: 20px;
}