.session-form-container {
  box-sizing: inherit;
  display: block;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.session-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 30px;
    font-weight: 700;
    color: #02040f;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  input[type="text"], input[type="password"] {
    display: block;
    width: 70%;
    height: 40px;
    box-shadow: 0px 0px 5px 1px #e9e3e6;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px 10px;
  }
}


.login-form input[type="text"]:focus, 
.login-form input[type="password"]:focus {
  box-shadow: 0px 0px 8px 1px $dark-orange-shadow;
  transition: 0.2s;
}

.signup-form input[type="text"]:focus, 
.signup-form input[type="password"]:focus {
  box-shadow: 0px 0px 8px 1px $paradise-pink-shadow;
  transition: 0.2s;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Open Sans', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Open Sans', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Open Sans', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Open Sans', sans-serif;
}

.session-form input[type="submit"], .demo-btn {
  display: block;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #02040f;
  color: white;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  transition: 0.5s;
}

.signup-form input[type="submit"]:hover, .demo-btn:hover {
  background-color: $paradise-pink;
  transition: 0.3s;
}

.login-form input[type="submit"]:hover {
  background-color: $dark-orange;
  transition: 0.3s;
}

.signup-form .errors {
  color: $paradise-pink;
}

.login-form .errors {
  color: $dark-orange;
}

.change-form {
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-form .change-form a {
  color: $dark-orange;
}

.signup-form .change-form a {
  color: $paradise-pink;
}