/* .party-card{
  border: solid 5px #00ac9f;
  margin-bottom: 2px;
  align-items: center;
  margin: auto;
  width: 510px;
  border-radius: 7px;
  align-items: center;
}

.party-info{
padding: 10px;
  font-size: 20px;
}
.party-response{
padding: 10px;
  font-size: 15px;
} */

.party-card {
  display: flex;
  margin: 0 auto;
}

.map-container {
  width: 500px;
  height: 500px;
}

.all-parties:last-child{
  margin-bottom: 50px;
}

.party-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  width: 50%;
}

.party-card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
