.dashboard-container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 60px);
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: calc(100% / 6);
  box-shadow: 0px 0px 10px 1px #dbdbdb90;
  z-index: 1;
}

.left-sidebar .propic {
  display: block;
  width: 150px;
  height: 150px;
  background-color: rgb(223, 223, 223);
  margin: 15px auto;
}

.left-sidebar h1 {
  font-size: 1.4em;
  font-weight: 800;
}

.username {
  margin-bottom: 50px;
}

.left-sidebar h2 {
  font-size: 1.4em;
  font-weight: 700;
  display: block;
  line-height: 0.9;
  margin-bottom: 20px; 
}

.upcoming {
  border-bottom: 5px solid #ffb20c;
}


.hosted {
  border-bottom: 5px solid #f32b60;
}

.new-party-btn {
  display: block;
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 15px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  background-color: #f32b60;
  color: white;
  transition: 0.2s;
  padding-top: 10px;
  text-align: center;
}

.new-party-btn:hover {
  background-color: black;
  transition: 0.2s;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 2);
  background-color: #fdfbfc;
  overflow: auto;
}

.party-index-container {
  height: calc(100vh - 60px - 100px);
  width: 100%;
  border: 1px solid blue;
  overflow: auto;
}

.party-btn-container {
  display: block;
  height: 100px;
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.party-btn {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  font-weight: 600;
}

.decline-btn {
  font-size: 36px;
}

.join-btn {
  font-size: 32px;
}

.right-sidebar {
  width: calc(100% / 3);
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px #dbdbdb90;
  z-index: 1;
  margin-left: 3px;
  margin-right: 1px;
}