.dashboard-container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 60px);
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: calc(100% / 6);
  box-shadow: 0px 0px 10px 1px #dbdbdb90;
  z-index: 1;
}

.propic {
  display: block;
  width: 150px;
  height: 150px;
  background-color: rgb(223, 223, 223);
  margin: 15px auto;
}

.uploaded-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
}


.username {
  font-size: 1.4em;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
}

.upload-link {
  width: 150px;
  color: white;
  margin-bottom: 50px;
  padding: 5px;
  text-align: center;
  background-color: #002642;
  border-radius: 3px;
}

.upload-link:hover {
  background-color: #00477a;
  transition: 0.2s;
}

.hosted, .upcoming{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  display: block;
  line-height: 0.6;
  margin-bottom: 20px; 
}

.upcoming {
  border-bottom: 5px solid #ffb20c;
  transition: 0.2s;
}

.upcoming:hover {
  border-bottom: 5px solid #ffd270;
  transition: 0.2s;
}

.hosted {
  border-bottom: 5px solid #f32b60;
  transition: 0.2s;
}

.hosted:hover {
  border-bottom: 5px solid #ff7c9f;
  transition: 0.2s;
}

.new-party-btn {
  display: block;
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 15px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  background-color: #f32b60;
  color: white;
  transition: 0.2s;
  padding-top: 10px;
  text-align: center;
}

.new-party-btn:hover {
  background-color: black;
  transition: 0.2s;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 2);
  background-color: #fdfbfc;
  overflow: auto;
}

.party-btn-container {
  display: block;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #fdfbfc; */
  /* background-color: #4c4cc0; */
}

.party-btn {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  font-weight: 600;
  background-color: white;
  box-shadow: 0px 0px 10px 1px #dbdbdb90;
}

.decline-btn {
  font-size: 36px;
  margin-right: 10px;
  color: #f32b60;
  transition: 0.2s;
}

.decline-btn:hover {
  background-color: #f32b60;
  color: white;
  transition: 0.2s;
}

.join-btn {
  font-size: 32px;
  color: #1be9b6;
  transition: 0.2s;
}

.join-btn:hover {
  background-color: #1be9b6;
  color: white;
  transition: 0.2s;
}

.right-sidebar {
  width: calc(100% / 3);
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px #dbdbdb90;
  z-index: 1;
  margin-left: 3px;
  margin-right: 1px;
}